@charset "utf-8";
/** 清除内外边距 **/
* { margin: 0;padding: 0;-webkit-touch-callout:none;-webkit-user-select:none; -webkit-tap-highlight-color:transparent;
}
/** 设置默认字体 **/
body, button, input, select, textarea { font:14px/2 "Microsoft yahei","Arial","sans-serif"; }
h1, h2, h3, h4, h5, h6 { font-size:100%; }
em { font-style:normal; }
/** 重置列表元素 **/
ul, li, ol { list-style:none outside; }
/** 重置超链接元素 **/
body a, a { text-decoration:none; color:#333; cursor:hand; }
body a:hover, a:hover { text-decoration:none; color:#004276; }
/** 重置图片元素 **/
img { border:0; }
/** 重置表格元素 **/
table { border-collapse:collapse; border-spacing:0; }
th, td { padding:0; margin:0; }
input, textarea { border:1px; }
th { text-align:inherit; }
/** 表格加边框 **/
.table { border-left:1px solid #d8d8d8; }
.table td, .table th { border:1px solid #d8d8d8; border-left:none; padding:10px 0; }
/** 其他元素 **/
.center { text-align:center; }
.bold { font-weight:bold; }
.cdbai { color:#FFFFFF; }
.cdred { color:#FF0000; }
.cdblue { color:#006697; }
.hidden { overflow:hidden; *zoom:1; }
.hiden{display:none;}
h1 { font-size:20px; }
h2 { font-size:19px; }
h3 { font-size:18px; }
h4 { font-size:17px; }
h5 { font-size:16px; }
h6 { font-size:15px; }
h1,h2,h3,h4,h5,h6 { font-weight:bold; }
.height25 { height:25px; }
.height30 { height:30px; }
.block{display:block;}
.is-show{display:block;}
li.gery_ico { background:url(../images/ico55802.gif) left center no-repeat; padding-left:10px; }
li.red_ico { background:url(../images/Ic7845o.gif) left center no-repeat; padding-left:10px; }
li.blue_ico { background:url(../images/blue_arrow.gif) left center no-repeat; padding-left:10px; }
/* 设置浮动，减少浮动带来的 bug */
.left,.right { display:inline; }
.left { float:left; }
.right { float:right; }
/* 清除浮动 */
.clear { clear:both; }
.clearfix { zoom:1; /* for ie6 & ie7 */ }
.clearfix:before,.clearfix:after { content:""; display:table; line-height:0; }
.clearfix:after { clear:both; }
html {
        margin: 0;
        padding: 0;
        font-family: PingFangSC-Regular,'Helvetica Neue',Tahoma,Arial,'Hiragino Sans GB','Microsoft Yahei',sans-serif;
        font-size: calc(100vw/7.5);
        max-width:768px;
        margin:0 auto;
}
/* #header头部 */
#header { background-color:#EE1A1A; height:50px;
        position: fixed;top:0;z-index: 2000;
}
#header .nav_btn {
    width: 56px;height: 40px;
    position: fixed;z-index: 10000;right: 0;
    top: 7px;border-radius: 3px;box-sizing: border-box;
    padding-top:4px;
}
.nav_btns{
        transform: rotate(-5deg);transform-origin: center;
}
#header .nav_btn i {
        display: block;width: 22px;height: 1.5px;
        background-color: #fff; margin-top: 6px; margin-left: 12px
}
#header .nav_btn .btn-top {
        transform: rotate(-36deg); transform-origin: top right;
        animation: all .4s ease;
}
    
#header .nav_btn .btn-center {
        transform-origin: center; animation: all 0.3s ease;transform-origin: center;
        opacity: 0;
}
    
.nav_btn .btn-bottom {
        transform: rotate(47deg); transform-origin: top right;animation: all .4s ease;
}

#header .sidebar {position: absolute;right: 0;top:50px;text-align: center; width:150px;color: white; background-color:#900;
display:none;}
#header .sidebar h3 { margin:16px auto; width:70%; font-size:18px;}
#header .sidebar li { margin:auto; width:70%; padding:12px 0; font-size: 16px;}
header .sidebar li:hover { background-color: #e84e40; }
#header .sidebar hr { margin:10px auto; border:0; padding:0; width:80%; height:1px; background-color:#fff; }
#header .sidebar a { color:white; text-decoration:none; }
/* banner轮播区域 */
#banner { width:100%;overflow: hidden;box-sizing: border-box;height:3rem;position: relative;margin-top:0;}
#banner .swiper-container {width: 100%;height: 100%;}
#banner .swiper-slide{width:100%;}
#banner .swiper-slide img{width:100%;display:block;position: relative;}
/* 重置swiper轮播 css样式*/
.swiper-pagination-bullet-active{background:#fff;}
/* 新闻上下轮播区域 */
.news-scroll-box{background:#fff;width:100%;padding: 0.2rem 0 0.25rem;}
.news-scroll-box .news-scroll{width:94%;margin:0 auto;}
.comm-news-scroll{height:0.8rem;width:94%;margin: 0.03rem auto 0;}
.news-scroll .news-scroll-left{width:12%;height:0.8rem;background-color:pink;overflow: hidden;
        border-radius: 0.05rem ;margin-top:0.03rem; font-size:0.28rem;}
.news-scroll-left .kuaixun{height:0.45rem;text-align: center;line-height:0.45rem;}
.news-scroll-left .news-time{height:0.35rem;text-align:center;line-height:0.35rem;background-color:rgb(240, 21, 21);
        width:100%;color:#fff;}
.news-scroll .news-scroll-text{width:85%;box-sizing: border-box;height:0.8rem;
        overflow: hidden;margin-left:3%;}
 .news-scroll .news-scroll-text .scroll-msg{width:92%;line-height: 0.41167rem;overflow: hidden;margin-right:3%;
        text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.news-scroll .news-scroll-text .scroll-msg	.banner-news{font-size:0.28rem;;color:#000;}
.news-scroll .news-scroll-item .page-number{font-weight:600;font-size:0.3rem;} 
.news-scroll .next-pages{width:5%;height:100%;line-height:1.02rem;text-align:right;font-size:0.36rem;font-weight: 600;} 

/* #main部分 */

.register-header{
    width:94%;padding:0 3%;height:0.8rem;background: #EE1A1A;display:-webkit-flex;margin-bottom:10px;
}
 .register-header .register-left{width:33.33333%;
    font-size:0.24rem;color:#fff;height:0.8rem;line-height: 0.8rem;font-weight: bold;
}

 .register-header .register-right{
	width:66.66666%;display:flex;
}

 .register-header .register-right a{
    height:0.8rem;line-height: 0.8rem;font-size:0.22rem;font-weight:600;color:#fff;
   flex:1;text-align:right;background:url(../images/line_red.jpg) center no-repeat;
   background-size:0.02rem 0.22rem;background-position-x: 31%;
}
 .register-header .register-right a:nth-of-type(1){
   background: none;
}
.register-header .register-right a:nth-of-type(1){ background: none;}
/*滚动上拉加载区域*/
.mescroll{position:fixed;top:50px;bottom: 0;width:100%;left:0;height: auto;}

 .scroller{margin:0 auto;}

 .scroller .newsList{
        height:1.26rem;padding: 0.24rem 0 0.32rem;border-bottom: 0.01rem solid #e5e5e5;
}
 .scroller .newsList .news-text{
         width:70%;height:1.26rem;float:left;line-height: 0.468rem;font-size:0.24rem; overflow : hidden;
        box-sizing: border-box;word-break: break-all; word-wrap:break-word;
        text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3;  
}
.data-list li{
	position: relative;width:98%;margin:0 auto ;
	border-bottom: 1px solid #ccc;padding:0.25rem 0;
}
.data-list .listNews{
	font-size: 0.26rem;width:70%;line-height: 0.45rem;height: 1.3rem;
	overflow: hidden; box-sizing: border-box;word-break: break-all;
	word-wrap:break-word; overflow : hidden; text-overflow: ellipsis; display: -webkit-box;
	-webkit-line-clamp: 2; -webkit-box-orient: vertical;
}
.data-list li a{
	display:block;position: absolute;right: 0;top: 0.2rem;
	width: 27%;height: 1.3rem;overflow: hidden;
}
.data-list .pd-img{width: 100%;height: 1.3rem;}
.data-list .pd-price{
	width:70%;height:0.4rem;line-height:0.4rem;background:green;color: red;font-size:0.22rem;
}

 .scroller .newsList a{
    width:27%;height:1.26rem;float:right;display:block;
}
 .scroller .newsList a img{
     width: 100%; height: 1.2rem; display: block;margin-top: 0.085rem;
}
.mescroll-upwarp {

        min-height: 30px;
        padding: 15px 0;
        text-align: center;
        visibility: hidden;
    
    }
@media screen and (min-width:769px){
        html{max-width:92%;}
        #header {width:92%;} 
        #header .nav_btn { right: 4%;}
        
    }
    @media screen and (max-width:768px){     
                    #header {width:100%;}  
                        
    }
    @media screen and (max-width:374px){
        .register-header .register-left{
                font-size:0.32rem;
        } 
        .register-header .register-right a{
                background-size:0.04rem 0.3rem;
        }
    }
    
    @media screen and (max-width:320px){
            #header { height:40px;}
            #header .header-left {  width:60%; height:100%; background:url(images/logo.png) center left no-repeat;
            background-size:164px 27px;position:absolute;display:block;margin-left:2%;
            }
            #header .nav_btn {height: 40px;top:3px;right:-4px;	}		
            #header .sidebar{top:40px;}
            #mescroll{top:40px;}
            .register-header .register-right a{font-size:0.28rem;}
    
    }		