@charset "utf-8";
/*.serve_con > .box >a元素里的字体图标*/
@font-face {font-family: 'iconfont';
    src: url('../fonts/iconfont.eot'); /* IE9*/
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
*,  
::before,  
::after{  
    margin: 0;  
    padding: 0;  
    /*清除移动端默认的 点击高亮效果*/  
    -webkit-tap-highlight-color: transparent;  
    /*设置所有的都是以边框开始计算宽度 百分比*/  
    -webkit-box-sizing: border-box;  
    box-sizing: border-box;  
}  
html {
	/* 禁用iPhone中Safari的字号自动调整 */
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    /* 解决IOS默认滑动很卡的情况 */
    -webkit-overflow-scrolling : touch;
}
body{ 
	/*-webkit-user-select: none;*//* 禁止页面文字选择 */
	/*解决字体在移动端比例缩小后出现锯齿的问题*/
	-webkit-font-smoothing: antialiased;
    font-family: "MicroSoft YaHei",sans-serif;  
}  
ul,li{list-style: none;}
.txt-cut{
	/*多行溢出 手机端使用*/
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* -webkit-line-clamp: 2; */
    -webkit-box-orient: vertical;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section,dl {
    display: block;
}
a{  
    color: #000;
    text-decoration: none; 
    /*-webkit-touch-callout:none; *//*禁用长按页面时的弹出菜单(iOS下有效) ,img和a标签都要加*/
}
img{
	/*-webkit-touch-callout:none; */
	 border: none;
} 
input{  
    border: none;  
    outline: none;  
    /*清除移动端默认的表单样式*/  
    -webkit-appearance: none;  
}
.f_left{  
    float: left;  
}  
.f_right{  
    float: right;  
}  
.clearfix::before,  
.clearfix::after{  
    content: "";  
    height: 0;  
    line-height: 0;  
    display: block;  
    visibility: hidden;  
    clear: both;  
}
.m_left{
	margin-left: 0;
}
.m_right{
	margin-right: 0;
}
.txt_center{
	text-align: center;
}
  
